@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
  
body{
	background: linear-gradient(-45deg, pink,    #F8CBA6, #DBA39A);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  font-family: "raleway";
}

.h{
  text-align: center;
  vertical-align: middle;
  line-height: 100vh;       
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

